<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="voipot.jnu.conoz.com.voipotguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CommonApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:windowSoftInputMode="adjustPan" />-->

        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".PullImgActivity"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".service.MyHotspotService"
            android:exported="false" />

        <activity android:name=".DirectoryActivity" />

        <service
            android:name=".service.ConnCheckService"
            android:exported="false" />
        <service
            android:name=".service.RecvService"
            android:exported="false" />

        <service
            android:name=".service.RecvAllService"
            android:exported="false" />
    </application>

</manifest>